
.halfwidth {
	width: 50%;
	float:left;
}

.container {
	border: 0px solid;
	box-shadow: 0px 0px 10px gray;
	border-radius: 8px;
	margin: 5px;
	text-align: center;
	padding: 5px;
}

.element {
	border: 0px solid;
	box-shadow: 0px 0px 5px gray;
	border-radius: 4px;
	padding: 10px;
	margin: 5px;
	font-family: sans;
	font-size: 17px;
	color: gray;
	cursor: pointer;
}

button {
	border: 0px white;
	box-shadow: 0px 0px 10px gray;
	border-radius: 4px;
	margin: 3px;
	font-size: 17px;
	padding: 10px;
	background:  #eff7ff;
	color: gray;
	cursor: pointer;
}

button:hover {
	background: #cee6ff;
	color: black;
}

button:active {
	box-shadow: 0px 0px 5px gray;
	color: black;
}

.sessionCanvas {
	width: 100%;
}
